/* webshop-info */
.webshop-info {
    padding: 4rem 0;
}
    
    .webshop-info .container {
        max-width:  1600px;
        display: flex;
        justify-content: space-evenly;
    }

    .webshop-info .info-box {
        background-color: var(--color-theme-light);
        padding: 1rem;
        display: flex;
        align-items: center;
        margin: 0 1rem;
        flex: 1;
        border-radius: var(--border-radius-small);
        transition: all 0.3s ease-in-out;
    }
        .webshop-info .info-box:hover {
            background-color: var(--color-theme);
            color: var(--color-white);
        } 

        .webshop-info .info-box img {
            margin-right: 1.5rem;        
            filter: brightness(100%);
            transition: all 0.3s ease-in-out;
        }
            .webshop-info .info-box:hover img {
                filter: brightness(1000%);
            }

        .webshop-info .info-box h1 {
            color: var(--color-theme);
            font-size: 1rem;
            font-weight: var(--font-weight-medium);
            transition: all 0.3s ease-in-out;
        }
            .webshop-info .info-box:hover h1 {
                color: var(--color-white);
            }
